.content {
    max-width: map-get($container-max-widths, md);
    padding: 1em calc(#{map-get($container-max-widths, md)} / 2 - #{map-get($container-max-widths, sm)} / 2) 5em;

    @include media-breakpoint-down(sm) {
        max-width: map-get($container-max-widths, xs);
        padding: 1em 1em 5em;
    }

    nav {
        margin-top: 1em;
        margin-bottom: 1em;
        text-align: center;

        @extend .justify-content-center;
    }
}

nav.navbar {
    @extend .navbar-expand-lg;
    @extend .navbar-light;
    @extend .bg-light;
}

nav a, nav li > span {
    color: var(--title-colour);
    padding: 0 1rem;
    font-family: $headings-font-family;
    font-size: 0.9rem;
    font-weight: $headings-font-weight;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;

    &.cogitare {
        color: $cogitare !important;
    }

    &.loginout {
        color: var(--loginout-colour) !important;

        &:hover {
            color: var(--loginout-hover-colour) !important;
        }
    }
}

nav li.disabled {
    text-decoration: line-through;
}

.item-input {
    min-height: 5em;
    resize: vertical;
}
