.page-static {
    .content {
        @extend .col-sm-4;
        margin-top: 5em;

        & > :last-child {
            margin-bottom: 5rem;
        }
    }

    h1.title {
        color: $gray-700;
        text-align: center;
    }

    .subtitle {
        font-size: 1.3rem;
        text-align: center;
    }
}
